<html>
  <head>
    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>


  <body>
    <div id="app">
      <div class="chapter">
        <h3>1</h3>
        <span> Hello {{ username }}! </span>
      </div>
      <div class="chapter">
        <h3>2</h3>
        <span v-bind:title="message">
          Hover your mouse over me for a few seconds
          to see my dynamically bound title!
        </span>
      </div>
      <div class="chapter">
        <h3>3</h3>
        <span v-if="seen">Now you see me</span>
      </div>
      <div class="chapter">
        <h3>4</h3>
        <ul>
          <li v-for="todo in todos">{{ todo.name }}</li>
        </ul>
        <span>app.todos.push({ text: 'New item' })</span>
      </div>
      <div class="chapter">
        <h3>5: v-on directive</h3>
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
      </div>
      <div class="chapter">
        <h3>6: v-model directive: two way binding</h3>
        <p>{{ message }}</p>
        <input v-model="message"></input>
      </div>
      
      <!-- Components -->
      
      <div class="chapter">
        <h3>7: registering a component with Template</h3>
        <ol>
          <!--
            Create an instance of the todo-item component.
            We provide each todo-item with the todo object
            it's representing, so that its content can be dynamic.
            We also need to provide each component with a "key",
            which will be explained later.
          -->
          <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id">
          </todo-item>
        </ol>
      </div>
      
      
      <div class="chapter">
        <h3>8: vue instance</h3>
        <span>vm = new Vue() as view model</span>
        <p>A Vue application consists of a root Vue instance.</p>
        <p>The root instance can be made of reusable components.</p>
      </div>
            
      <div class="chapter">
        <h3>9: instance methods and variables</h3>
        <p> <span class="code inline-code">$</span> prefix </p>
      </div>
      
      <div class="chapter">
        <h3>10: v-model vs v-bind</h3>
        <pre class="code"> &lt;input
          <br> v-bind:value="something"
          <br> v-on:input="something = $event.target.value"&gt;
        </pre>
        </p>
      </div>
      
      
      
      
    </div>
    <img class="dennis-hou-logo" src='./dennis-hou-logo.png'>
  </body>

</html>
