* {
  font-family: -apple-system, system-ui;
}

#app {
  padding-bottom: 40vh;
}

h3 {
  font-weight: 500;
  font-size: 0.8rem;
  color: rgb(50,50,50);
  margin-top: -8px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
}

.chapter {
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.code {
  margin: 0;
  /*line-height: 0.4rem;*/
  font-size: 0.90rem;
  font-family: 'Menlo', 'monospace';
  font-variant-numeric: tabular-nums;
  background-color: rgba(0,0,0,0.05);
  overflow: scroll;
  border-radius: 2px;
}

.code span {
  font-family: 'Menlo', 'monospace';
}


.dennis-hou-logo {
  width: 100px;
  filter: brightness(80%);
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;
}
